.inline-editor-new-item, .field-collection-item-delete {
  float: right;
}

.inline-editor-collection-row-wrap {
  display: none;
}

.inline-editor-collection-edit-btn {
  position: absolute;
  margin-left: 504px;
}

.inline-editor-editable {
  cursor: pointer;
}

.inline-editor-editable > .field,
.inline-editor-editable > .entity {
  padding: 5px;
  border: 2px dashed transparent;
  cursor: pointer;
}


.inline-editor-editable-locked {
  transition-property:  border;
  transition-duration: 1s;
  transition-timing-function:  ease;

  border-style: dashed!important;
  border-color: #747272!important;
  cursor: pointer;
}



.inline-editor-editable.inline-editor-edit-in-use 
.inline-editor-editable.inline-editor-edit-in-use  {
  opacity: 1!important;
}

.inline-editor-editable.inline-editor-edit-in-use ,
.inline-editor-editable.inline-editor-edit-in-use {
  opacity: 1!important;
}

.locked-editable {
  opacity: 0.4;
  border-color: transparent;
  -webkit-transition: all ease-in-out 1s;
     -moz-transition: all ease-in-out 1s;
       -o-transition: all ease-in-out 1s;
          transition: all ease-in-out 1s;
}



.locked-editable > .field:hover,
.locked-editable > .entity:hover {
  border-color: transparent;
  transition:none;
  cursor: inherit;
}

.inline-editor-button {
  visibility: hidden;
  border: 1px solid #ddd;
  float: right;
  font-size: 13px;
  padding: 0 20px;
  border-radius: 3px;
  color: #666;
  margin-bottom: -26px !important;
  opacity: 0.8;
  margin-top: 4px;
  -webkit-transition: all ease-in-out .2s;
     -moz-transition: all ease-in-out .2s;
       -o-transition: all ease-in-out .2s;
          transition: all ease-in-out .2s;
}

.inline-editor-button:hover {
  background: #eee;
  /*opacity: 1;*/
}

.inline-editor-new-item {
  position: relative;
  z-index: 1;
}


form .inline-editor-save-edit {
  float: left;
}

.inline-editor-new-item, 
form .inline-editor-cancel-btn,
form .field-collection-item-delete {
  background: #ECECEC;
  line-height: 1.2;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  display: inline-block;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 1em;
  margin-right: 0.6em;
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.inline-editor-new-item {
  margin: 0;
}

inline-editor-new-item:hover, 
form .inline-editor-cancel-btn:hover, 
form .field-collection-item-delete:hover {
  background: #dedede;
}